body {
  background-color: black;
  color: white;
}

#playwrite-it-moderna-uniquifier {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
